.theme(
  @bgcolor,
  @fcolor,
  @primaryColor
) {
  color: @fcolor;
  background: @bgcolor;

  .el-aside {
    background: @bgcolor;
    color: @fcolor;
    border-right: 1px solid rgba(200, 200, 200, 0.3);
    .child-menu-title {
      color: @fcolor;
    }
  }

  .el-header {
    color: @fcolor;
    background: @bgcolor;
    border: 0;
    box-shadow: 0;
    .child-menu-wrap {
      background: @bgcolor;
    }
  }

  .el-button--primary {
    background: @primaryColor;
    border-color: @fcolor;
  }
  // elemetn-ui 下拉
  .el-dropdown {
    .el-dropdown-link {
      background: @primaryColor;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}